<% provide(:title, @board.title) %>
<%= link_to "All boards", boards_path %> / <%= @board.title %>

<h1 id="page_title"><%= @board.title %></h1>
<p id="notice"><%= notice %></p>

<div>
<% if @posts.count != 0 %>
  <% if signed_in? %>
		<%= link_to 'Create Post', new_board_post_path(@board), class: "btn btn-primary" %>
	<% end %>
  <ol class="posts">
    <%= render @posts %>
    <%= will_paginate @posts %>
  </ol>
  <% if signed_in? %>
		<%= link_to 'Create Post', new_board_post_path(@board), class: "btn btn-primary" %>
	<% end %>
<% else %>
  <h3>Board is empty :(</h3>
  <% if signed_in? %>
    <%= link_to 'Create Post', new_board_post_path(@board), class: "btn btn-primary" %>
  <% end %>
<% end %>
</div>