<% post_comments.each do |comment| %>
<li>
  <table>
    <tr>
      <td style="width:60px; vertical-align: top; text-align: center;">
        <% if current_user != nil %>
          <% if (current_user.voted_as_when_voted_for comment) != true %>
            <%= form_tag url_for(controller: "comments", action: "upvote", id: comment.id), method: "post", remote: true, class: "vote-btn" do %>
              <%= button_tag '', class: "btn btn-default" do %>
              <i class="icon-plus"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= form_tag url_for(controller: "comments", action: "unupvote", id: comment.id), method: "post", remote: true, class: "vote-btn" do %>
              <%= button_tag '', class: "btn btn-primary" do %>
              <i class="icon-plus icon-white"></i>
              <% end %>
            <% end %>
          <% end %>

          <span style="font-family: tahoma; font-size: 24px;"><%= comment.upvotes.size-comment.downvotes.size %></span>

          <% if (current_user.voted_as_when_voted_for comment) != false %>
            <%= form_tag url_for(controller: "comments", action: "downvote", id: comment.id), method: "post", remote: true, class: "vote-btn" do %>
              <%= button_tag '', class: "btn btn-default" do %>
              <i class="icon-minus"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= form_tag url_for(controller: "comments", action: "undownvote", id: comment.id), method: "post", remote: true, class: "vote-btn" do %>
              <%= button_tag '', class: "btn btn-primary" do %>
              <i class="icon-minus icon-white"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <div class="post-comment-content">
          <%= comment.content %>
        </div>
        <table>
          <tr>
            <td class="options-block">
              <% if current_user != nil && (current_user.admin? || comment.user == current_user) %>
                <a href="#commentedit<%= comment.id %>" data-toggle="modal">edit</a>
                 | <%= link_to "delete", [@post, comment], method: :delete,
                                            data: { confirm: "You sure?" } %>
              <% end %>
            </td>
            <td align="right" class="edited-block">
              <% if comment.created_at != comment.updated_at %>
                <% if (Time.now - @post.created_at)/60/60 < 24 %>
                  edited <%= time_ago_in_words(comment.updated_at) %> ago
                <% else %>
                  edited <%= localize(comment.updated_at, format: :short) %>
                <% end %>
              <% end %>
            </td>
            <td class="created-block">
              <div><%= image_tag comment.user.avatar_url, width: 35, height: 35 %><%= link_to comment.user.name, comment.user %></div>
              <div>
                <% if (Time.now - @post.created_at)/60/60 < 24 %>
                  created <%= time_ago_in_words(comment.created_at) %> ago
                <% else %>
                  created <%= localize(comment.created_at, format: :short) %>
                <% end %>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <div id="commentedit<%= comment.id %>" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit comment</h3>
      </div>
      <div class="modal-body">
        <p>
          <%= form_for([@post, comment]) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="field">
              <%= f.text_area :content %>
            </div>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </table>
</li>
<% end %>