<% provide(:title, 'New post') %>
<h1>New post</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@board, @post]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.text_area :content, placeholder: "Compose new post...", rows: "10" %>
        <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)" %>
        <%= f.fields_for @post.post_attachments.build do |p| %>
          <%= p.file_field :avatar, multiple: true, name: "post_attachments[avatar][]" %>
        <% end %>
      </div>
      
      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>