<% provide(:title, @post.title) %>
<p id="notice"><%= notice %></p>

<div>
  <%= link_to "All boards", boards_path %> / <%= link_to @post.board.title, board_path(@post.board) %> / <%= @post.title %>
  <div id="post-title"><h1><%= @post.title %></h1></div>
  <div id="post-content">
    <div id="post-body" class="post">
      <table>
        <tr>
          <td style="width:60px; vertical-align: top; text-align: center;">
            <% if current_user != nil %>
              <div id="votes"><%= render 'postvotes' %></div>
            <% end %>
          </td>
          <td style="width:920px;">
            <div>
              <div class="post-comment-content">
                <%= @post.content %>
                <% if @post_attachments.count != 0 %>
	                <div class="container container-carousel" style="width: 750px;">  
	                  <div class="carousel slide" id="carousel-featured">
	                    <ol class="carousel-indicators">
	                      <% @post_attachments.count.times do |n| %>
	                        <% if n == 0 %>
	                          <li data-target="#carousel-featured" data-slide-to="<%= n %>" class="active"></li>
	                        <% else %>
	                          <li data-target="#carousel-featured" data-slide-to="<%= n %>" class=""></li>
	                        <% end %>
	                      <% end %>
	                    </ol>
	                    <% if @post_attachments.count <= 1 %>
	                      <div class="carousel-inner">
	                        <div class="item active" align="center">
	                          <%= image_tag @post_attachments.first.avatar_url, style: "height: 500px" %>
	                        </div>
	                      </div>
	                    <% else %>
	                      <div class="carousel-inner">
	                        <div class="item active" align="center">
	                          <%= image_tag @post_attachments.first.avatar_url, style: "height: 500px" %>
	                        </div>
	                        <% (@post_attachments.count-1).times do |n| %>
	                          <div class="item" align="center">
	                            <%= image_tag @post_attachments[n+1].avatar_url, style: "height: 500px" %>
	                          </div>
	                        <% end %> 
	                      </div>             
	                      <a class="left carousel-control" href="#carousel-featured" data-slide="prev">&lsaquo;</a>
	                      <a class="right carousel-control" href="#carousel-featured" data-slide="next">&rsaquo;</a>
	                  	<% end %>
	                  </div>
	                </div>
                <% end %>
              </div>
              <div id="post-tag" style="margin-bottom: 10px;">
                <%= raw @post.tag_list.map { |t| link_to content_tag(:span, t), tag_path(t), class: "label label-primary" }.join(' ') %>
              </div>
              <table>
                <tr>
                  <td class="options-block">
                    <% if current_user != nil && (current_user.admin? || @post.user == current_user) %>
                      <%= link_to "edit", edit_board_post_path(@post.board,@post) %>
                       | <%= link_to "delete", @post, method: :delete,
                                      data: { confirm: "You sure?" } %>
                    <% end %>
                  </td>
                  <td align="right" class="edited-block">
                    <% if @post.created_at != @post.updated_at %>
                      <% if (Time.now - @post.updated_at)/60/60 < 24 %>
                        edited <%= time_ago_in_words(@post.latest_edit) %> ago
                      <% else %>
                        edited <%= localize(@post.latest_edit, format: :short) %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="created-block">
                    <div><%= image_tag @post.user.avatar_url, width: 35, height: 35 %><%= link_to @post.user.name, @post.user %></div>
                    <div>
                      <% if (Time.now - @post.created_at)/60/60 < 24 %>
                        created <%= time_ago_in_words(@post.created_at) %> ago
                      <% else %>
                        created <%= localize(@post.created_at, format: :short) %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <% if @post.comments.count != 0 %> 
      <div id="post-comment">
        <div id="comment-header"><h3><%= pluralize( @post.comments.count, 'comment') %></h3></div>
        <div id="comment-content">
          
          <div>
          <%= will_paginate @comments %>
            <ul id="comment" class="comments"><%= render 'comments', post_comments: @comments %></ul>
          <%= will_paginate @comments %>
          </div>
          
        </div>
      </div>
    <% end %>
    <% if current_user != nil %>
      <div>
        <h3>Add comment</h3>
        <div>
          <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="field">
              <%= f.text_area :content %>
            </div>
            <%= f.submit "Add comment", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>