<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div>
        <%= link_to root_path, id: "logo" do %>
        <i>AUTOBOARD</i> <img src="/assets/wheel_icon.png" alt="settings" width="28" height="28" ) %>
        <% end %>
      </div>
      <div style="float:left; width: 400px; margin-left: 5px; position: relative;">
        <%= form_tag url_for(controller: 'posts', action: 'search'), method: 'get' do %>
          <%= button_tag(type: "submit", class: "search-btn", style: "position: absolute; right: 0px;") do %>
          <i class="icon-search"></i>
          <% end %>
          <div style="float:left; padding-top:5px; width: 100%;">
            <%= text_field_tag :search, params[:search], :id => 'search_field', style: 'margin-bottom: 0px;', autocomplete: "off" %>
          </div>
        <% end %>
      </div>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Board", boards_path %></li>
          <li><%= link_to "Tags", tags_path %></li>
          <% if signed_in? %>
            <li><%= link_to current_user.name, current_user %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag("settings.png", alt: "settings", width: 13, height: 13 ) %>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li><%= link_to "Users", users_path %></li>
                <% end %>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>